<section ng-controller="ListProdutosController">
    <form data-ng-submit="create()" novalidate>
            <div class="col-xs-12">
                <h2>Cadastro de Produto</h2>
                <hr>
            </div>
            <div class="col-xs-6">
                <label for="produtoId">Id do Produto</label>
                <div class="form-group">
                    <input type="text" id="produtoId" class="form-control" placeholder="Entre com a id do Produto" data-ng-model="produtoId" required>
                    <small class="text-muted" data-ng-bind="error"></small>
                </div>
                <input type="submit" class="btn btn-info" value="Cadastrar">
                <br><br>
            </div>
    </form>
    <br>
</section>