<section data-ng-controller="ListProdutosController" data-ng-init="find()">
    <h2>Lista de Produtos:</h2>
    <br>
    <div class="row list-toolbar">
        <div class="col-xs-3 col-sm-4">
            <button class="btn btn-primary pull-left" ng-click="atualizarTodasVendas()">Atualizar Tudo</button>
        </div>
        <div class="col-xs-6 col-sm-3">
            <!-- Single button -->
            <div class="btn-group pull-right">
                <button class="btn btn-default" ng-click="reverseSort()">
                    <i class="fa fa-sort" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Ordenar &nbsp<span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a ng-click="sort('media.venda')">Média</a></li>
                    <li><a ng-click="sort('historico[historico.length-1].venda')">Vendas</a></li>
                    <li><a ng-click="sort('price')">Preço</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#"></a></li>
                </ul>
            </div>
        </div>
        <div class="col-xs-3 col-sm-2">
            <input type="text" class="form-control" data-ng-model="numItemsPerPage">
        </div>
        <div class="col-xs-12 col-sm-3">
            <input id="busca-produtos" type="text" class="form-control" placeholder="Busca" data-ng-model="query">
        </div>
    </div>
    <br>
    <ul class="list-group">
        <li class="list-group-item" dir-paginate="item in produtos | filter: query | orderBy: sortkey: reverse | itemsPerPage: numItemsPerPage">
            <container-produtos></container-produtos>
        </li>
    </ul>
    <div class="row">
        <div class="d-pagination">
            <dir-pagination-controls class="col-xs-12"
                                     max-size="5"
                                     direction-links="true"
                                     boundary-links="true">
            </dir-pagination-controls>
        </div>
    </div>
</section>