<div class="container">
    <a href="#!/produtos/{{item._id}}">
        <div class="row">
            <div class="col-xs-4 col-sm-2">
                <img ng-src="{{item.thumbnail}}" alt="thumbnail of {{item.title}}">
            </div>
            <div class="col-xs-8 col-sm-7">
                <div class="row">
                    <div class="col-xs-12">
                        <a href="{{item.permalink}}"><h4 data-ng-bind="item.title"></h4></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        <p>Vendas: {{item.historico[item.historico.length-1].venda}}</p>
                    </div>
                    <div class="col-xs-3">
                        <p>Preço: {{item.price | currency: 'R$ '}}</p>
                    </div>
                    <div class="col-xs-3"></div>
                    <div class="col-xs-3"></div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        <p>Média: {{item.media.venda | number: 2}}</p>
                    </div>
                    <div class="col-xs-3"></div>
                    <div class="col-xs-3"></div>
                    <div class="col-xs-3"></div>
                </div>
                <div class="row">

                </div>
            </div>
            <div class="hidden-xs col-sm-2">
                <div class="row" style="width: 200px;">
                    <button class="btn btn-default pull-right" ng-click="atualizarVenda(item)"><i class="fa fa-refresh" aria-hidden="true"></i></button>&nbsp&nbsp
                </div>
            </div>
        </div>
    </a>
</div>